{% load static %}
{% load link_holders %}
<!-- services block -->

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="section__header d-inline-block">Услуги центра</div>
      <a href="{% link_holder 'PROFST' %}#page-top" class="link__profstandarti float-right">
        <img src="{% static 'img/info__icon.png' %}" class="info-icon" alt=""> Профстандарты в области сварки</a>
      <a href="{% link_holder 'PROFST' %}#page-top" class="link__profstandarti__mob float-right">
        <img src="{% static 'img/info__icon.png' %}" class="info-icon" alt=""> Профстандарты в области сварки</a>
      <div class="line__section"></div>
    </div>
    <div class="col-xl-3">
      <div class="box__serv">
        <a href="{% link_holder 'ASSP' %}#page-top">
          <div class="box__service">
            {% title_holder 'ASSP' %}
          </div>
        </a>
      </div>
    </div>
    <div class="col-xl-3">
      <div class="box__serv">
        <a href="{% link_holder 'ATTST' %}">
          <div class="box__service">
            {% title_holder 'ATTST' %}
          </div>
        </a>
      </div>
    </div>
    <div class="col-xl-3">
      <div class="box__serv">
        <a href="{% link_holder 'RKNK' %}">
          <div class="box__service">
            {% title_holder 'RKNK' %}
          </div>
        </a>
      </div>
    </div>
    <div class="col-xl-3">
      <div class="box__serv">
        <a href="{% link_holder 'COK' %}">
          <div class="box__service">
            {% title_holder 'COK' %}
          </div>
        </a>
      </div>
    </div>
  </div>


  <!-- services block end -->

  <!-- news block -->
  <div class="box__news">
    <div class="row">
      <div class="col-xl-2">
        <div class="section__header">Новости</div>
        <div class="line__section"></div>
      </div>
    </div>
    <div class="row">

      <div class="col-xl-8">

        <div class="row">
          {% for post, picture in pictured_posts.items %}
          {% include 'mainapp/includes/pictured_news_block.html' %}
          {% endfor %}
        </div>


      </div>

      <div class="col-xl-4">

        {% for post in not_pictured_posts %}
        {% include 'mainapp/includes/not_pictured_news_block.html' %}
        {% endfor %}


        <a href="{% url 'news' %}#all-news" class="all__news__button float-right">
          Все новости <img src="{% static 'img/arrow__next-01.png' %}" class="" alt="">
        </a>
      </div>
    </div>


  </div>

</div>

<!-- news block and -->

<!-- our client -->