{% load static %}
{% load link_holders %}

<!-- footer -->
<div class="footer__box">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="logo__gray">
          <a href="index.html">
            <img src="{% static 'img/logo_archangelsk.png' %}" class="logo_archangelsk" alt="">
          </a>
        </div>
        <div class="footer__text__left">
          <p>Организация является членом СРО Ассоциация «НАКС».</p>
          <p>Общество с ограниченной ответственностью Аттестационный центр «НАКС-Архангельск» - является членом СРО
            Ассоциация «Национальное Агентство Контроля Сварки» Системы Аттестации Сварочного производства (САСв)
            Ростехнадзора и оказывает услуги по аттестации сварщиков и специалистов сварочного производства.</p>
        </div>
        <div class="line__footer">
        </div>
        <a href="http://www.naks.ru/">
          <img src="{% static 'img/sasp_logo.png' %}" class="sasp_logo"
            title="Система Аттестации Сварочного Производства" alt="">
        </a>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 col-xl-2">
        <div class="menu__footer__text">
          <nav>
            <ul class="menu__footer ">
              <a href="{% link_holder 'ABOUT_US' %}">
                <li>{% title_holder 'ABOUT_US' %}</li>
              </a>

              <a href="{% url 'contact' %}">
                <li>Контакты</li>
              </a>
              <p class="spks__logo"><img src="{% static 'img/spks__logo-01.png' %}" alt="">
              </p>
              <div class="spks__web">
                <a href="http://spks.naks.ru/spks/about/" class="spks__link"
                  title="О Совете по профессиональным квалификациям в области сварки">www.spks.naks.ru</a>
              </div>
            </ul>
          </nav>
        </div>

      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 col-xl-7 ">
        <div class="footer__number text-right">
          <p>(8182) 60-89-39</p>
        </div>
        <p class="footer__mail text-right">
          <a href="mailto:naksarh@mail.ru" title="Написать письмо">naksarh@mail.ru</a></p>
        <p class="footer__adres text-right">
          г. Архангельск, ул. Гагарина 43
        </p>
        <div class="footer__button__feedback text-right">

          <button class="button__zayavka__footer">
            <a href="#" data-toggle="modal" data-target="#modal-statement">
              Оставить заявку</a>
          </button>
        </div>
        <div class="line__footer__two">
        </div>
      </div>

    </div>

  </div>
</div>

</div>

<div class="basement__footer">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-xl-4 col-md-4">
        <p class="basement__text">
          ООО АЦ «НАКС – Архангельск» © 2012-2018 &nbsp;| &nbsp; Все права защищены
        </p>
      </div>
      <div class="col-xl-3 col-md-4">
        <a href="politika-konfidentsialnosti.html#politika-konfidentsialnosti" class="political__konf" target="_blank">
          Политика конфиденциальности
        </a>
      </div>

      <div class="col-xl-5">
        <div class="razrabotano__basement__footer">
          <a href="http://www.naks.ru/naksmedia/" target="_blank" class="razrabotano__v__naks__media">
            Разработано в - НАКС Медиа</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end footer -->