{% load static %}{% load link_holders %}
<!-- Меню -->
<div class="menu__background">
    <div class="container ">
      <div class="row align-items-center">
        <div class="col-xl-12">
          <div class="menu__navbar">
            <!--Navbar-->
            <nav class="navbar navbar-expand-lg navbar-dark primary-color">

              <!-- Navbar brand -->

              <!-- Collapse button -->
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <!-- Collapsible content -->
              <div class="collapse navbar-collapse" id="basicExampleNav">

                <!-- Links -->
                <ul class="navbar-nav m-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Главная
                      <span class="sr-only">(current)</span>
                    </a>
                  </li>

                  <!-- Dropdown -->
                  <li class="nav-item dropdown">
                    <a class="nav__link__two dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">Центр</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="{{ page_urls.ABOUT_US.url }}#page-top">{{ page_urls.ABOUT_US.title }}</a>
                      <a class="dropdown-item" href="{{ page_urls.INFO.url }}#page-top">{{ page_urls.INFO.title }}</a>
                      {% comment %} <a class="dropdown-item" href="{{ page_urls.OBLD.url }}#page-top">{{ page_urls.OBLD.title }}</a> {% endcomment %}
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav__link__two dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">Услуги</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="{{ page_urls.ASSV.url }}#page-top">{{ page_urls.ASSV.title }}</a>
                      <a class="dropdown-item" href="{{ page_urls.ATTST.url }}#page-top">{{ page_urls.ATTST.title }}</a>
                      <a class="dropdown-item" href="{{ page_urls.ATTSO.url }}#page-top">{{ page_urls.ATTSO.title }}</a>
                      <a class="dropdown-item" href="{{ page_urls.RKNK.url }}#page-top">{{ page_urls.RKNK.title }}</a>
                      <a class="dropdown-item" href="{{ page_urls.COK.url }}#page-top">{{ page_urls.COK.title }}</a>
                      <a class="dropdown-item" href="{{ page_urls.ATT_SP_NK.url }}#page-top">{{ page_urls.ATT_SP_NK.title }}</a>
                      <a class="dropdown-item" href="{{ page_urls.ALNK.url }}#page-top">{{ page_urls.ALNK.title }}</a>


                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav__link__two dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">Реестры</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="{{ page_urls.REESTRSP.url }}">{{ page_urls.REESTRSP.title }}</a>
                      <a class="dropdown-item" href="{{ page_urls.REESTRST.url }}">{{ page_urls.REESTRST.title }}</a>
                    </div>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="{% link_holder 'COK' %}#page-top">{% title_holder 'COK' %}
                        <span class="sr-only">(current)</span>
                      </a>
                    </li>

                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'contact' %}#kontakti">Контакты
                      <span class="sr-only">(current)</span>
                    </a>
                  </li>
                </ul>
              </div>
              <form class="form-inline my-2 my-lg-0  d-lg-block" action="#result" method="get">
                <div class="input-group">
                    <input type="text" class="form-control border" name="s" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-search bg-transparent border" type="submit" title="Поиск"><img src="{% static 'img/icon__search.png' %}" alt="Поиск"></button>
                    </div>
                </div>
            </form>

            </nav>
            <!--/.Navbar-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Конец меню -->
