{% load static %}
<!-- Модальное окно - Оставить заявку -->
<div class="modal fade" id="modal-statement" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="pt-0 pt-sm-4 pt-xl-5">
                <div class="modal-header px-3 px-sm-5">
                    <h5 class="modal-title mb-3" id="">Оставить заявку</h5>
                    <div class="row">
                        <div class="col col-sm-10 col-xl-6">
                            <p class="font-text-thin">Выберите вид заявки, введите свои контактные данные, и наш
                                специалист свяжется с вами в ближайшее время</p>
                        </div>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><img src="{% static 'img/close2.png' %}" alt="" class="close_icon"></span>
                    </button>
                </div>
            </div>

            <form>
                <div class="modal-body px-3 px-sm-5">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-form-label col-form-label-sm">Имя</label>
                                <input type="text" class="form-control form-control-sm" id="" required="">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="" id="phone1" class="col-form-label col-form-label-sm">Номер телефона</label>
                                <input type="text" class="form-control form-control-sm" placeholder=""  type="text" id="phone" required="">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group ">
                                <label for="" class="col-form-label col-form-label-sm">Вид заявки</label>
                                <div class="choose__item">
                                    <ul class="items">
                                        <li data-selected="0" data-guid="1">Специалист сварочного производства</li>
                                        <li data-selected="0" data-guid="2">Аттестация технологий сварки</li>
                                        <li data-selected="0" data-guid="3">Разрушающий и не разрушающий контроль</li>
                                        <li data-selected="0" data-guid="4">Центр оценки квалификаций</li>                        
                                      </ul> 
                                </div>
                            </div>
                        </div>                            
                    </div>  
                    <!-- <form>
                        <p class="prikrepit__zayavku">Прикрепить заявку</p>
                            <div class="file-upload d-inline-block">
                              <input type="file" class="file-input-field">
                              <p>Прикрепить</p>
                            </div>
                          <p class="file-input-value d-inline-block">Файл не загружен</p>
                        </form>                     -->
                    
                    <div class="custom-control-checkbox custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="soglasie" required="">
                        <label class="custom-control-label" for="soglasie"><small>Я даю <a href="#"
                                    target="_blank">согласие на обработку персональных данных</a></small></label>
                    </div>
                </div>
                <div class="modal-footer pb-5 px-3 px-sm-5">
                    <button type="submit" class="button__to__send_zayavka__formmodal">Отправить заявку</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Набор в группу аттестации -->

<!-- Модальное окно - Задать вопрос -->
<div class="modal fade" id="modal-question" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="pt-0 pt-sm-4 pt-xl-5">
                <div class="modal-header px-3 px-sm-5">
                    <h5 class="modal-title mb-3" id="">Задать вопрос</h5>
                    <div class="row">
                        <div class="col col-sm-10 col-xl-6">
                            <p class="font-text-thin">Вы можете задать любой вопрос и наш специалист ответит вам в
                                ближайшее время</p>
                        </div>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <form>
                <div class="modal-body px-3 px-sm-5">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="" class="col-form-label col-form-label-sm">Имя</label>
                                <input type="text" class="form-control form-control-sm" id="" required="">
                            </div>
                            <div class="form-group">
                                <label for="" class="col-form-label col-form-label-sm">Номер телефона</label>
                                <input type="text" class="form-control form-control-sm" placeholder=""  type="text" id="phone2" required="">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group ">
                                <label for="" class="col-form-label col-form-label-sm">Ваш вопрос</label>
                                <textarea name="" class="form-control form-control-sm" rows="6" id="" required=""></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="custom-control-checkbox custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="sogl" required="">
                        <label class="custom-control-label" for="sogl"><small>Я даю <a href="#"
                                    target="_blank">согласие на обработку персональных данных</a></small></label>
                    </div>

                </div>
                <div class="modal-footer pb-5 px-3 px-sm-5">
                    <button type="submit" class="button__to__send_zayavka__formmodal">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Задать вопрос -->