        <div class="box__news__content__two">
          <p class="news__naks__tag d-inline-block">
          
          {% for tag in post.tags.all %}
            {{ tag.name }}          
          {% endfor %}
          
          </p>
          <p class="date__news d-inline-block float-right">{{ post.published_date }}</p>
          <a href="news-seminar.html#news-seminar">
            <p class="text__content__news__two">
              {{ post.title }}
            </p>
          </a>
        </div>