        <div class="col-sm-6 col-xl-3 mb-3">
          <div class="box__serv h-100">
            <a href="{% link_holder 'ASSP' %}#page-top">
              <div class="box__service h-100">
                {% title_holder 'ASSP' %}
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3 mb-3">
          <div class="box__serv h-100">
            <a href="{% link_holder 'ATTST' %}#page-top">
              <div class="box__service h-100">
                {% title_holder 'ATTST' %}
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3 mb-3">
          <div class="box__serv h-100">
            <a href="{% link_holder 'RKNK' %}#page-top">
              <div class="box__service h-100">
                {% title_holder 'RKNK' %}
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3 mb-3">
          <div class="box__serv h-100">
            <a href="{% link_holder 'COK' %}#page-top">
              <div class="box__service h-100">
                {% title_holder 'COK' %}
              </div>
            </a>
          </div>
        </div>