/*--------------------- Спецификация ---------------------*/

body {
    font-family: "Avenir Next Cyr", sans-serif;
    font-size: 12px;
    line-height: 1.5;
    background-color: #fff;
}

@media (min-width: 360px) {
    .container {
        max-width: 1555px;
    }
}

p {
    margin: 0;
}

.row a {
    text-decoration: none;
    list-style: none;
}

/*--------------------- Хедр ---------------------*/


.head {
    background-color: #323e57;
    padding: 15px;
}

.head__text__adres {
    color: #6f81a7;
    font-weight: 550;

    @media screen and (max-width: 576px) {
        text-align: center;
    }
}

.head__text__numbercok__two {
    color: #6f81a7;
    font-size: 14px;
    font-weight: 500;
    text-align: right;

    @media screen and (max-width: 576px) {
        text-align: center;
    }
}

.list__acst__center{
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    color: #97b1e7;

        &:focus{
        box-shadow: none;
        outline: none;
    }
   
}

.acst {
    color: #97a6c9;
    font-size: 14px;
    font-weight: 600;
}

.acst:hover {
    color: #7a8db9;
    text-decoration: none;
}


/*--------------------- header ---------------------*/


.header__block__two {
    padding: 35px 0px 35px 0px;
}

.header__number {
    font-size: 24px;
    color: #000;
    font-weight: 550;
    text-align: right;

    @media screen and (max-width: 1510px) {
        margin-top: 15px;
        font-size: 18px;
        float: left;
    }
}

.header__mail {
    font-size: 14px;
    color: #000;
    font-weight: 400;
    text-align: right;

    @media screen and (max-width: 1510px) {
        float: left;
    }

    @media screen and (max-width: 380px) {
        margin-bottom: 15px;
    }

    @media screen and (max-width: 320px) {
        margin-bottom: 15px;
    }

    @media screen and (max-width: 365px) {
        margin-bottom: 15px;
    }

}

.button__zayavka {
    color: #2e3f62;
    border: 1px #2e3f62 solid;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    background: transparent;
    padding: 0px 15px;
    width: 100%;

}

.button__zayavka a {
    display: block;
    color: #2e3f62;
    line-height: 44px;
    white-space: nowrap;
}

.button__system__edo {
    color: #2e3f62;
    border: 1px #2e3f62 solid;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    background-color: #2e3f62;
    padding: 0 15px;
    width: 100%;
}

.button__system__edo a {
    display: block;
    color: #fff;
    white-space: nowrap;
    line-height: 44px;
}

.button__system__edo:hover {
    background-color: #3c4f79
}

.button__system__edo:active {
    background-color: #223252
}

/*--------------------- Footer ---------------------*/

.footer__box {
    background-color: #3a3a3a;
    padding: 45px 0px 45px 0px;
}

.logo__gray {
    margin-bottom: 20px;
}

.sasp__logo__gray {
    @media screen and (max-width: 320px) {
        width: 223px;
        height: 79px;
        display: none;
    }
   
}

.sasp__logo__gray__two {
    display: none;
}

.sasp__logo__gray__two {
    @media screen and (max-width: 320px) {
        display: block;
        margin-top: 25px;
    }
    
}

.line__footer__two {
    @media screen and (max-width: 320px) {
        border-bottom: 1px #9d9d9d solid;
        width: 100%;
    }
}

.logo__gray__text {
    text-transform: uppercase;
    font-size: 18px;
    color: #6f81a7;

    @media screen and (max-width: 320px) {
        font-size: 14px;
    }

}

.footer__text__left {
    color: #9d9d9d;
    font-size: 12px;
    margin-bottom: 25px;
    font-weight: 500;
}

.line__footer {
    border-bottom: 1px #9d9d9d solid;
    margin-bottom: 25px;
    width: 100%;
}

.menu__footer li {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    line-height: 3;

    @media screen and (max-width: 1400px) {
        padding: 10px 0px 0px 0px;
        line-height: 2;
    }
}

.menu__footer li:hover {
    color: #e0e0e0;
}
.spks__logo{
    margin-top: 25px;
  }

.spks__web{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    margin-left: 68px;
    a{
        color: #fff;
        &:hover{
            color: #d4d4d4; 
        }
    } 
}

.basement__footer {
    background-color: #2e2e2e;
    padding: 15px 0px 15px 0px;
}

.basement__text {
    color: #878787;
    font-size: 12px;
    font-weight: 400;
}


.political__konf {
    font-size: 12px;
    color: #878787;
    font-weight: 500;
    }

.naks__media__logo {
    margin-left: 25px;
}

.razrabotano__basement__footer {
    text-align: right;
    & a:hover{
        color: #878787;
    }

    @media screen and (max-width: 320px) {
        text-align: center;
    }
}

.razrabotano__v__naks__media {
    font-size: 12px;
    font-weight: 500;
    color: #878787;
}


.footer__number {
    color: #fff;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 15px;
}

.footer__mail {
    font-size: 16px;
    color: #9d9d9d;
    margin-bottom: 15px;

    a {
        color: #9d9d9d;
        border-bottom: 1px solid #9d9d9d;
    }
}

.footer__adres {
    font-size: 12px;
    color: #9d9d9d;
    font-weight: 500;
    margin-bottom: 10px;
}



.adres__on__map a {
    color: #96b0e7;
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
}


.button__zayavka__footer {
    color: #ffffff;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    background-color: #8b8b8b;
    padding: 0px 15px;
    margin-bottom: 25px;
}

.button__zayavka__footer a {
    display: block;
    color: #ffffff;
    line-height: 44px;
    white-space: nowrap;
}

.button__zayavka__footer:hover {
    background-color: #9d9d9d;
    color: #fff;
}

.button__zayavka__footer:active {
    background-color: #929191;
    color: #fff;
}


/*--------------------- БГ + информация ---------------------*/

.sasp__logo {
    margin-bottom: 25px;
    font-size: 16px;

    @media screen and (max-width: 480px) {
        width: 300px;
        height: 85px;
    }

    @media screen and (max-width: 768px) {
        width: 300px;
        height: 85px;
    }

    @media screen and (max-width: 320px) {
        width: 300px;
        height: 85px;
        display: none;
    }

}

.sasp__text {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    float: right;
}


.bg-block-01 {
    background: url(../img/background.png) no-repeat;
    width: 100%;
    background-size: cover;
}

.bg {
    background: url(../img/gradient.png) no-repeat;
    background-size: cover;
    color: #fff;
    width: 100%;
}

.blog-info {
    padding: 60px 0px 60px 0px;
    margin-bottom: 50px;
}

.about__organization__text {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;

    @media screen and (max-width: 320px) {
        font-size: 25px;
    }

}

.about__organization__text__two {
    font-size: 16px;
    margin-bottom: 30px;

    @media screen and (max-width: 320px) {
        font-size: 16px
    }
}

.button__zayavka__online {
    background-color: #ff5d5d;
    border-radius: 3px;
    text-align: center;
    border: none;
    display: block;
    width: 45%;

    @media screen and (max-width: 1400px) {
        width: 100%;
    }

    @media screen and (max-width: 768px) {
        width: 100%;
    }

    @media screen and (max-width: 990px) {
        margin-bottom: 15px;
    }

    @media screen and (max-width: 480px) {
        margin-bottom: 0px;
    }

    @media screen and (max-width: 320px) {
        margin-bottom: 15px;
    }

    @media screen and (max-width: 425px) {
        margin-bottom: 15px;
    }

}

.button__zayavka__online a {
    display: block;
    padding: 15px;
}

.button__zayavka__online:hover {
    background-color: #e63838;
    transition: 0.3s;
}

.button__zayavka__text {
    color: #fff;
    display: block;
    font-size: 16px;
    text-transform: uppercase;

    @media screen and (max-width: 320px) {
        font-size: 12px;
    }
}

.button__zayavka__text:hover {
    text-decoration: none;
    color: #fff;
}

.button__zayavka__text:active {
    background-color: #c92525;
    border-radius: 3px;
}

/*--------------------- Фон + информация правая сторона ---------------------*/

.head__information {
    font-size: 26px;
    font-weight: 350;
    margin-bottom: 20px;

    @media screen and (max-width: 375px) {
        text-align: center;
    }

    @media screen and (max-width: 320px) {
        text-align: center;
    }

    @media screen and (max-width: 425px) {
        text-align: center;
    }

    @media screen and (max-width: 768px) {
        text-align: center;
    }

}




.head__box__info {
    background-color: #fff;
    padding: 45px 35px;
    margin-bottom: 25px;
    border-radius: 3px;
    border-bottom: 3px solid rgb(79, 126, 255);
}

.close__icon__modal{
    cursor: pointer;
    max-width: 50px;
}


.head__box__text {
    font-size: 20px;
    font-weight: 300;
    a {
        color: #616161;
    }
}

.close__modal__voprosi{
    background-color: transparent;
    border-radius: 3px;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 5px 25px;
    color: #afafaf;
    margin-top: 25px;
    border: 1px solid #afafaf;
    cursor: pointer;
 box-shadow: none;
}

.icon__info{
    margin-top: -26px;    
}

.fancybox-content{
    max-width: 1200px;
}

.close__modal__voprosi:hover{
background-color: #f3f3f3;
color: #505050;
}

.head__box__info:hover {
    background-color: #f0f0f0;
}

.box__serv a {
    font-size: 20px;
    color: #fff;

}

.box__service {
    background-color: #465f92;
    padding: 45px 35px;
    margin-bottom: 25px;
    border-radius: 3px;
}

.box__service:hover {
    background-color: #45639e;
    transform: scale(1.02, 1.02);
    transition: 0.3s;
}

.button__uslugi {
    border: 1px solid #fff;
    border-radius: 3px;
    background-color: transparent;
    width: 35%;
    margin-top: 60px;

    @media screen and (max-width: 1600px) {
        width: 100%;
    }
}


.button__ob_uslugax__text {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    display: block;
    text-align: center;
    padding: 14px;
}

.button__ob_uslugax__text a {
    text-decoration: none;
}

.button__ob_uslugax__text:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.button__ob_uslugax__text:active {
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
}


// Заголовки на страницах

.section__header {
    font-size: 30px;
    font-weight: 200;
    color: #000;
    margin-bottom: 15px;
}

.section__header__two {
    font-size: 30px;
    font-weight: 200;
    color: #000;
    margin-bottom: 15px;
}

.line__section {
    border-bottom: 1px solid #000;
    margin-bottom: 50px;
    width: 50px;
}


// Новости

.box__news__content__main {
    padding: 25px;   
    margin-bottom: 30px;
}

.read__news__hover {
    background: #888888;
}

.text__content__news__main {
    font-size: 18px;
    font-weight: 500;
    color: #000;
}


.box__news__content {
    padding: 40px;
    background-color: #ffffff;
    margin-bottom: 20px;
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.03);
}

.box__news__content__two {
    padding: 25px;
    background-color: #ffffff;
    margin-bottom: 30px;
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.03);
}

.box__news__content__two:hover {
    background-color: #45639e;
    transform: scale(1.02, 1.02);
    transition: 0.3s;
}

.box__news__content__two:hover {
    background-color: #f4fcff;
    transition: 0.2s;
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.03);
}

.box__news__content:hover {
    background-color: #f4fcff;
    transition: 0.2s;
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.03);
}

.text__content__news__two {
    font-size: 14px;
    font-weight: 500;
    color: #000;
}


.news__naks__tag {
    font-size: 14px;
    color: #1a2a4a;
    margin-bottom: 20px;
}

.date__news {
    font-size: 14px;
    color: #999999;
}

.text__content__news {
    font-size: 16px;
    font-weight: 500;
    color: #000;
}



.text__two__content__news {
    font-size: 14px;
    color: #999999;
    font-weight: 400;
}

.all__news {
    background-color: transparent;
    border: none;
    border: 1px solid #244485;
    padding: 10px 25px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 50px;
}

.all__news a {
    color: #244485;
}

.all__news__button {
    padding: 10px 20px;
    border: 1px #244485 solid;
    color: #244485;
    font-size: 14px;
    margin-bottom: 15px;
    background: transparent;
    a{
        color: #244485;
    }
}

.subtitle__additional__information__list {
    font-size: 14px;
    font-weight: 550;
    color: #2e3e60;
}
.number__list__found__subject{
    font-size: 16px;
    font-weight: 500;
    color: #2e3e60;
}

.page-link{
    color: #2e3e60;
    font-size: 14px;
    border-radius: 0px;
}

.page-item {
border-radius: 0px;
}

.page-link:hover{
    transition: 0.2s;
}

.page-link:focus {
    outline: none;
    box-shadow: none;
}


// Right column Центр аттестации
.info-icon {
    margin-right: 5px;
}

.link__profstandarti {
    font-size: 16px;
    color: #000;
    font-weight: 400;
    border-radius: 3px;   
    padding: 10px 15px;
    background-color: #ffffff;
    border: 1px solid #f8f8f8;
    @media screen and (max-width: 630px) {
        display: none;
    }
}

.info-icon {
    margin-right: 5px;
}

.link__profstandarti__mob {
    font-size: 16px;
    color: #000;
    font-weight: 400;
    border-radius: 3px;
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.09);
    padding: 10px 15px;
    background-color: #ffffff;
    margin-bottom: 25px;
    text-align: center;
    display: none;
    margin-top: 25px;

    @media screen and (max-width: 630px) {
        display: block;
        font-size: 12px;
    }
}

.link__profstandarti:hover {
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.09);

}


.button__list {
    border: none;
    background-color: transparent;
    font-size: 24px;
    color: #000;
    font-weight: 300;
    box-shadow: none;
    cursor: pointer;
    outline: none;
}


.button__list:focus {
    box-shadow: none;
    outline: none;
}

.button__list:hover {
    margin-left: 10px;
    transition: 0.2s;
}

.card {
    border: none;
    margin-bottom: 50px;
}


.card-header {
    background-color: #fcfcfc;
    outline: none;
    padding: 25px;
    border-bottom: 2px solid #7191d7;
    cursor: pointer;
}

.card-header:hover {
    background-color: #f3f3f3;
}

.card-body {
    background-color: #fcfcfc;
    border-bottom: 2px solid #dbe6ff;
    padding: 30px;
    font-size: 16px;
    color: #000;
}

.card__scroll{
    overflow-y: scroll; /* Добавляем полосы прокрутки */
    width: 100%; /* Ширина блока */
    height: 900px; /* Высота блока */
    padding: 5px; /* Поля вокруг текста */ 
    position: relative;       
}

.text__link {
    border-bottom: 1px dashed;
    font-size: 18px;
    color: #0173c1;
    font-weight: 400;
    line-height: 2;
    align-content: left;

    @media screen and (max-width: 576px) {
        font-size: 16px
    }

    @media screen and (max-width: 320px) {
        font-size: 14px
    }

}

.box__text__link {
    margin-left: 10px;
}


.card__body__header__text {
    font-size: 18px;
    color: #000;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header__vopros__text {
    font-size: 20px;
    font-weight: 500;
    color: #000;
}

.vopros__text {
    font-size: 24px;
    font-weight: 300;
    color: #000;
    margin-top: 15px;
}

.vopros__otvet {
    background-color: rgba(60, 255, 0, 0.1);
    padding: 7px;
    margin-top: 10px;
}
.vopros__otvet__main {
    background-color: rgba(0, 174, 255, 0.1);
    padding: 7px;
    margin-top: 10px;
    font-size: 16px;
}

.arrow__list {
    margin: 0;
    float: right;
    display: block;
    margin-top: 15px;

    @media screen and (max-width: 320px) {
        display: none;
    }

    @media screen and (max-width: 576px) {
        display: none;
    }
}

.card__name {
    font-size: 20px;
    color: #000;
    font-weight: 500;
}

.card__perechen__doc {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.line__text {
    border-bottom: 2px solid #7191d7;
    margin-top: 15px;
    margin-bottom: 15px;
}



/*--------------------- Блок 4 Инфо-блок ---------------------*/


.info__block {
    margin-bottom: 60px;
}

.articles__text {
    color: #1a1a1a;
    font-size: 20px;
    font-weight: 500;
}

.ask__text__header {
    font-size: 22px;
    color: #fff;
    font-weight: 500;

}

.ask__text__small {
    font-size: 14px;
    color: #fff;
    margin-top: 10px;
}

.number__mail__ask__box {
    font-size: 16px;
    font-weight: 550;
    color: #fff;
    margin-top: 10px;
}

.mail__text__ask__box {
    border-bottom: 1px solid #fff;
    color: #fff;
}

.mail__text__ask__box:hover {

    color: #fff;
}


.ask__box {
    padding: 35px;

    background: #3c4e77;

    @media screen and (max-width: 1199px) {
        margin-bottom: 25px;
    }

}

.ask__box:hover {
    transform: scale(1.02, 1.02);
    transition: 0.3s;
}

.ask__a__question {
    width: 100%;
}

.feedback__text {
    border-bottom: 1px solid #7191d7;
    color: #7191d7;
    font-weight: 550;
}

.feedback__text:hover {

    color: #587ac2;
}

/*--------------------- Блок 4 Search work ---------------------*/

.search__work__box {
    padding: 35px;

    background: rgba(59, 77, 118, 0.8);

    @media screen and (max-width: 1199px) {
        margin-bottom: 25px;
    }

}

.search__text__header {
    font-size: 22px;
    color: #fff;
}

.search__text__header__two {
    font-size: 14px;
    color: #fff;
    margin-bottom: 38px;

    @media screen and (max-width: 416px) {
        display: none;
    }
}

.button__search__work {
    background-color: #ffdc4e;
    border-radius: 3px;
    border: none;

    @media screen and (max-width: 320px) {
        float: left;
        margin-top: 10px;
    }

    @media screen and (max-width: 1199px) {
        margin-bottom: 15px;
    }

}

.button__search__work a {
    display: block;
    color: #ffffff;
    padding: 10px;
    white-space: nowrap;
    color: #000;
    font-size: 16px;

}

.adress__site_bw {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 25px;
    margin-top: -10px;
    color: #fff;

    @media screen and (max-width: 320px) {
        margin-top: 10px;
    }
}

.button__place__a__job {
    font-size: 16px;
    color: #fff;
    font-weight: 300;
}

.button__place__a__job:hover {
    color: #fff;
    margin-left: 5px;
    transition: 0.2s;
}

.arrow__next__tree {
    margin-left: 5px;
}

.search__box__img {
    background: url(../img/search__work.png) no-repeat;
    background-size: cover;
    border-radius: 3px;
}

.search__box__img:hover {
    transform: scale(1.02, 1.02);
    transition: 0.3s;
}

/*--------------------- Блок 4 Journal ---------------------*/

.journal__box {
    padding: 35px;

    background: rgba(59, 77, 118, 0.8);

    @media screen and (max-width: 1199px) {
        margin-bottom: 25px;
    }

}

.journal__box__img {
    background: url(../img/journal__img.png) no-repeat;
    background-size: cover;
    border-radius: 3px;
}

.journal__box__img:hover {
    transform: scale(1.02, 1.02);
    transition: 0.3s;
}

.journal__img__header {
    margin-bottom: 12px;
    width: 100%;
}

.journal__text {
    font-size: 14px;
    color: #fff;
    margin-top: 16px;
}

.button__svarka {
    font-size: 20px;
    color: #fff;
    font-weight: 300;
}

.button__svarka:hover {
    color: #fff;
    margin-left: 5px;
    transition: 0.2s;
}


// Раздел новостей

.back__to__main {
    font-size: 14px;
    background-color: transparent;
    background-color: rgba(189, 210, 253, 0.2);
    border: none;
    border-bottom: 1px solid #465f92;
    text-align: center;
    margin-bottom: 45px;

    a {
        text-decoration: none;
        color: #000;
        display: block;
        padding: 15px 17px;
    }
}

.back__to__main:hover {
    background-color: rgb(199, 217, 252);
    transition: 0.1s;
}

.back__to__main:active {
    background-color: rgb(221, 231, 255);
    transition: 0.1s;
}

.arrow__back__to__main {
    margin-right: 10px;

}


.box__news__content__inside {
    padding: 40px;
    background-color: #f8f8f8;
    margin-bottom: 20px;
}

.text__content__news__inside {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    &:hover{
        color: #0249b4;
    }
}

.text__content__news__header {
    font-size: 18px;
    font-weight: 500;
    color: #000;
}


.news__naks__tag__inside {
    font-size: 14px;
    color: #1a2a4a;
    margin-bottom: 5px;   
   a{
    color: #1a2a4a;
   }
}

.date__news__inside {
    font-size: 14px;
    color: #999999;   
    margin-bottom: 5px;  
}


.news__naks__tag__maine {
    font-size: 14px;
    color: #1a2a4a;
    margin-bottom: 20px;
}

.date__news__maine {
    font-size: 14px;
    color: #adadad;
    margin-left: 25px;
}

.to__share {
    font-size: 14px;
    color: #000;
    font-weight: 400;
    @media screen and (max-width: 320px) {
        margin-top: 5px;
    }
}

.vkontakte {
    background-color: #0288d1;
    padding: 10px;
    cursor: pointer;
    margin-right: 5px;
    &:hover{
        background-color: #027abb;
    }
}


.googlepluse {
    background-color: #f4511e;
    padding: 10px;
    cursor: pointer;
    margin-right: 5px;
    &:hover{
        background-color: #dd481b;
    }
}


.twitter {
    background-color: #03a9f4;
    padding: 10px;
    cursor: pointer;
    margin-right: 5px;
    &:hover{
        background-color: #0b8bc7;
    }
}


.facebook {
    background-color: #3f51b5;
    padding: 10px;
    cursor: pointer;
    &:hover{
        background-color: #3647a7;
    }
}

.text__item__news {
    font-size: 16px;
    color: #000;
    font-weight: 400;
    margin-top: 15px;
}

.medium__text__item__news {
    font-size: 24px;
    font-weight: 300;
    color: #465f92;
    margin-top: 15px;
    margin-bottom: 10px;
}

.light__text__item__news {
    font-size: 14px;
    font-weight: 500;
    color: #465f92;
    line-height: 1.8;
}

.line__news__end {
    border-bottom: 1px solid #e8e8e8;
    margin-top: 25px;
    margin-bottom: 25px;
}

.bar__date__social {
    margin-bottom: 15px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 21px;
    height: 34px;
}

.carousel-control-prev-icon {
    background: url(../img/next__image__arrow-01.png) no-repeat;
}

.carousel-control-next-icon {
    background: url(../img/next__image__arrow-01.png) no-repeat;
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.prikrep__doc{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}

.soglashenie__button {
    background-color: transparent;
    border: none;   
    padding: 0;
    margin-bottom: 25px;
}

.soglashenie__button__text {
    border: 1px #4c74c4 solid;
    padding: 10px 15px;
    display: block;
    font-size: 14px;
    color: #4c74c4;
    &:hover{
        color: #4c74c4;
    }
}

.download__icon {
    margin-left: 10px;
}

.soglashenie__button__text:hover {
    background-color: rgba(76, 116, 196,0.1);
}

// Контакты

.tel {
    font-size: 20px;
    color: #000;
    font-weight: 500;
    margin-bottom: 25px;
}

.header__tag {
    font-size: 20px;
    font-weight: 300;
    color: #000;
    margin-bottom: 15px;
    margin-top: 15px;
}

.mail {
    font-size: 16px;
    font-weight: 400;
    color: #a1a1a1;
}

.ya__map {
    margin-bottom: 25px;
}

// Услуги центра - специалист сварочного производства

.header__name__service {
    font-size: 24px;
    font-weight: 400;
    color: #000;
    margin-bottom: 35px;
}

.small__text__service {
    font-size: 16px;
    color: #465f92;
    font-weight: 400;
    margin-bottom: 15px;
}

.profstandart__text{
    font-size: 18px;
    font-weight: 350;
    color: #3c70d6;
    margin-bottom: 35px;
}

.line__service {
    border-bottom: 1px solid #465f92;
    margin-bottom: 35px;
}

.zayavka__button {
    background-color: transparent;
    background-color: #465f92;
    border: none;
    border-radius: 3px;
    padding: 12px 17px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    margin-bottom: 35px;


}

.zayavka__button__mob {
    background-color: transparent;
    background-color: #465f92;
    border: none;
    border-radius: 3px;
    padding: 12px 17px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    display: none;

    @media screen and (max-width: 1199px) {
        display: block;
        margin-bottom: 35px;
    }

}

.header__text__service {
    font-size: 24px;
    color: #000;
    font-weight: 400;
    margin-bottom: 35px;
}

.list__item__text {
    padding: 25px;
    background-color: #e2f4fd;
    border: 1px solid #d4eefc;
    margin-bottom: 35px;
}

.list__text {
    font-size: 16px;
    font-weight: 300;
    color: #000;
    line-height: 2.1;
}

.list__item__text__box {
    padding: 25px;
    border-left: 1.5px solid #465f92;
    margin-bottom: 35px;

}

.vazno__list__text {
    font-size: 16px;
    color: #000;
    font-weight: 400;
    margin-bottom: 10px;
}

.number__item {
    font-size: 35px;
    font-weight: 500;
    color: #465f92;
}

.light__text {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin-bottom: 35px;
}

.strong__text{
    color: #465f92;
}

.light__text__box {
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

.rules__text {
    font-size: 20px;
    font-weight: 400;
    color: #000;
    margin-bottom: 15px;
}

.rules__svarshik {
    background-color: #fffff1;
    padding: 25px;
    margin-bottom: 15px;
}

.rules__text__item {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin-bottom: 10px;
}

.bd-sidebar-two{
    position: sticky;
    top: 4rem;
    z-index: 1000;
    height: calc(74vh - 4rem);
}

.bd-sidebar-three{
    position: sticky;
    top: 4rem;
    z-index: 1000;
    height: calc(73vh - 4rem);
}

// Профстандарты


.header__prostandart {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 35px;
}

.header__utverjdenie__standarti {
    font-size: 20px;
    font-weight: 400;
    color: #000;
    margin-bottom: 35px;
}

.box__profstandart {
    padding: 45px;
    background-color: #fff;
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    margin-bottom: 15px;
    max-width: 75%;

    @media screen and (max-width: 1199px) {
        max-width: 100%;
    }
}

.box__profstandart:hover {
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.09);
}

.head__standart {
    font-size: 18px;
    font-weight: 450;
    color: #747474;
}

.name__standart {
    font-size: 18px;
    font-weight: 450;
    color: #000000;
    margin-top: 15px;
    margin-bottom: 15px;
}

.number__standart {
    font-size: 14px;
    font-weight: 550;
    color: #000000;
}

.text__prikaz__standart {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    margin-bottom: 15px;
}

.button__download__document {
    background-color: #465f92;
    padding: 10px 15px;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

.button__viev__document {
    border: 1px solid #465f92;
    padding: 10px 15px;
    border-radius: 3px;
    color: #465f92;
    font-size: 16px;
    display: block;
    text-align: center;
}

.button__viev__document:hover {
    background-color: #354d7e;
    color: #fff;
    transition: 0.2s;
}

.button__download__document:hover {
    background-color: #354d7e;
    color: #fff;
    transition: 0.2s;
}

// Результат поиска
.header__result {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.result__text {
    font-size: 18px;
    border-bottom: 1px rgb(255, 108, 108) solid;
    background-color: rgba(255, 30, 30, 0.1);
    padding: 25px;
    margin-bottom: 35px;
}

// О компании страница

.header__center__text {
    font-size: 24px;
    font-weight: 500;
    color: #354d7e;
    margin-bottom: 20px;
}

.header__documenti {
    font-size: 18px;
    font-weight: 300;
    color: #797979;
    margin-bottom: 15px;
}

.header__text__ocentre {
    font-size: 18px;
    font-weight: 300;
    color: #000;
    margin-bottom: 25px;
}


.box__cok__dopusk {
    background-color: #2e3f62;
    padding: 25px;
    margin-bottom: 35px;
    width: 350px;

    @media screen and (max-width: 500px) {
        width: 100%;
    }
}

.box__cok__dopusk__text {
    color: #fff;
    font-size: 16px;
}

.perechen__ustroistv {
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.header__name__perechen {
    font-size: 20px;
    font-weight: 450;
    color: #2e3f62;
    margin-bottom: 15px;
}

.name__text__header {
    font-size: 20px;
    font-weight: 500;
    color: #2e3f62;
    margin-bottom: 10px;
}

.name__small__text {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin-bottom: 25px;
}

.box__kontakti {
    margin-bottom: 25px;
}

.line__text__kompany {
    border-bottom: 1px solid #7191d7;
    margin-top: 20px;
}

.adres__on__map__contact{
    margin-top: 15px;
}

.adres__on__map__contact a{
    color: #9c9c9c;
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
      
}

.imglist {
    margin-top: 15px;
}

.bd-sidebar{
    position: sticky;
    top: 4rem;
    z-index: 1000;
    height: calc(90vh - 4rem);
}

// Информация для заявителей

.text__info__zayavki {
    font-size: 16px;
    font-weight: 350;
    color: #000;
    margin-bottom: 25px;
}

.arrow__zayavki {
    position: relative;
    top: -4px;
}

.text__zayavki {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    padding: 0px 15px;

    a {
        color: #3582c4;
    }
}

.text__zayavki a:hover {

    color: #5aa3e2;

}

.download__text__info {
    margin-bottom: 10px;
}

.line__download__page{
    border-bottom: 1px #6f81a7 solid;
    margin-top: 35px;
    margin-bottom: 25px;
}

.light__text__info{
    padding: 0px 15px;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin-bottom: 10px;   
}

.name__spisok__zayavki{
    font-size: 20px;
    color: #000;
    font-weight: 500;
    margin-bottom: 15px;
}

.box__documenti{
    margin-bottom: 25px;
}


// Область деятельности
.odb__box {
    background-color: #f9f9f9;
    margin-bottom: 35px;

}

.header__oblast__deatelnosti {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}


.obd__info {
    font-size: 18px;
    font-weight: 350;
    color: #494949;
    margin-bottom: 15px;
}

.button__oblast__deatelnosti__list {
    padding: 15px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    background-color: #494949;
    border-radius: 3px;
    color: #fff;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 35px;
}

.button__oblast__deatelnosti__list:hover {
    background-color: #363636;
}

// .card {
//     margin-bottom: 35px;
// }

.text__dopusk {
    font-size: 24px;
    font-weight: 400;
    color: #494949;
    margin-bottom: 15px;
}

.box__img{
    background-color: #fff;
     border: #c9c9c9 1px solid;
    border-radius: 3px;
    margin-bottom: 15px;
}


.info__box__head {
    background-color: #f1f1f1;
    padding: 25px;
    border-radius: 3px;
    margin-bottom: 25px;
}

.img__box__dopusk img{
margin-right: 15px;
width: 15%;
margin-bottom: 15px;
margin-left: 15px;
}

.info__box__head:hover {
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.09);
    }

.number__reestr {
    font-size: 16px;
    color: #2e3e60;
    font-weight: 450;
}

.header__name__standart {
    font-size: 16px;
    color: #585858;
    font-weight: 450;
}

.header__obd__info {
    background-color: rgba(234, 240, 243,0.5);
    padding: 15px 0px 15px 25px;
    border-radius: 3px;
    margin-bottom: 25px;
}

.header__obd__info:hover {
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.09);
}

.number__line__standart {
    background-color: #fff;
    padding: 25px;
    border-radius: 3px;
    margin-bottom: 25px;
    border: 1px solid rgba(234, 240, 243,0.5);
}

.number__line__standart:hover {
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.09);
}

.number__reestr__line {
    font-size: 14px;
    color: #2e3e60;
    font-weight: 450;

    @media screen and (max-width: 575px) {
        margin-bottom: 10px;
        background-color: #f7f7f7;
        padding-left: 10px;
    }
}

.reestr__number {
    font-size: 14px;
    color: #2e3e60;
    font-weight: 450;

    @media screen and (max-width: 575px) {
        margin-bottom: 10px;
    }
}

.header__name__standart__line {
    font-size: 14px;
    color: #2e3e60;
    font-weight: 450;  

    @media screen and (max-width: 575px) {
        margin-bottom: 10px;
    }
}

// Конец области деятельности


// Отступ

.otstup__line {
    margin-bottom: 45px;
}



  .file-upload {
    flex: 0 0 8em;
    position: relative;    
    p {
        border: 1px solid rgb(145, 145, 145);
      border-radius: 0.25em;
      color: rgb(122, 122, 122);
      text-align: center;
      font-size: 16px;
      width: 200px;
      padding: 10px;
      transition: background-color 100ms;     
    }
    + p {
      color: #ccc;
      overflow: hidden;
      margin-left: 15px;
      text-overflow: ellipsis;
      transition: color 200ms;
      white-space: nowrap;
      font-size: 14px;
      color: rgb(255, 93, 93);
      @media screen and (max-width: 320px) {
        margin-left: 0px;
    }    
      &.added {
        color: rgb(0, 81, 255);
        
      }
    }
  }


  input[type="file"] {
    cursor: pointer;
    font: inherit;
    height: 2.75em;
    background-color: transparent;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    &:hover + p {
        background-color: rgba(190, 190, 190,0.3);
    }
    &:active + p {
      background-color: rgba(173, 173, 173, 0.5);
      top: 1px;
    }
  }

//  Политика конфиденциальности

.header__political{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    color: #000;
}

.political__text__small{
    font-size: 14px;
    font-weight: 300;
    color: #000;
    margin-top: 15px;
    margin-bottom: 15px;
}