{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <button class="back__to__main" id="all-news">
        <a href="{% url 'index' %}"> <img src="{% static 'img/back__to__main__arrow.png' %}" class="arrow__back__to__main text-align-center"
                alt=""> На главную</a>
    </button>
    <div class="row">
        <div class="col-xl-2">
            <div class="section__header d-inline-block">Новости</div>
            <div class="line__section"></div>
        </div>
        <div class="col-xl-10">
            <div class="row flex-wrap">
            {% for element in news %}
    
    
                    {% include 'mainapp/includes/news-list-element.html' %}
    
    
            {% endfor %}
            </div>    
        </div>
    </div>

    <nav aria-label="Page navigation example">
                <nav>
                    <ul class="pagination float-right">

                        {% if news.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">&laquo; Первая</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ news.previous_page_number }}">Предыдущая</a></li>
                        {% endif %}

                        <li class="page-item active"><a class="page-link" href="?page={{ news.number }}">
                        Страница {{ news.number }} из {{ news.paginator.num_pages }}</a></li>

                        {% if news.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ news.next_page_number }}">Следующая</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ news.paginator.num_pages }}">Последняя
                                &raquo;</a></li>
                        {% endif %}

                    </ul>
                </nav>
    </nav>
</div>


<button class="back__to__main">
    <a href="{% url 'index' %}"> <img src="{% static 'img/back__to__main__arrow.png' %}" class="arrow__back__to__main text-align-center"
            alt=""> На главную</a>
</button>
</div>
{% endblock %}