{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
  <div class="container">
    <button class="back__to__main"  id="kontakti">
        <a href="{% url 'index' %}"> <img src="{% static 'img/back__to__main__arrow.png' %}" class="arrow__back__to__main text-align-center" alt=""> На главную</a>
      </button>

    <div class="row">

      <div class="col-xl-6">
        <div class="row">
          <div class="col-xl-4">
            <div class="section__header d-inline-block">Контакты</div>
            <div class="line__section"></div>
          </div>

          <div class="col-xl-4">
             <div class="header__tag">
                 Телефон
             </div>
             <p class="tel">
                {{ profile.org_main_phone }}
              </p>
              <div class="header__tag">
                Адрес
            </div>
            <p class="mail">
              {{ profile.org_address }}
             </p>
          </div>
          <div class="col-xl-4">
             <div class="header__tag">
                 Почта
             </div>
             <p class="mail">
              <a href="mailto:?subject=Написать письмо" title="Написать письмо">{{ profile.org_email }}</a>
              </p>
          </div>
        </div>
        <div class="row">
          <div class="offset-xl-4 col-xl-8">
            <p class="header__tag">
                Контакты сотрудников:
            </p>

            {% for contact in contacts %}

              <div class="alert alert-primary" role="alert">
                  <p class="h6">
                    <i class="fa fa-user"></i> {{ contact.title }}
                  </p>
                  <p><strong>Должность:</strong> {{ contact.description }}</p>
                  <p><strong>Телефон:</strong> {{ contact.phone }}</p>
                  <p><strong>Адрес электронной почты:</strong> {{ contact.email }}</p>

              </div>

            {% endfor %}


          </div>
        </div>
      </div>

      <div class="col-xl-6">
         <div class="header__tag">
             Наше местоположение
         </div>
         <div class="ya__map">
            <script src="{{ profile.org_address_map_link }}"></script>
         </div>

      </div>

    </div>

    <button class="back__to__main">
        <a href="{% url 'index' %}"> <img src="{% static 'img/back__to__main__arrow.png' %}" class="arrow__back__to__main text-align-center" alt=""> На главную</a>
      </button>
  </div>
{% endblock %}