.edit_link {
    position: absolute;
    display: block !important;
    z-index: 1000;
    right: 0;
    top: -10px;
    font-size: 10px !important;
    color: blue !important;
    background-color: white !important;
    padding: 0px 2px !important;
    margin-left: 5px !important;

}